<div class="main-container">
	<div class="main wrapper clearfix">

		<article>
			<header>
				<h1>About Simple Recipes</h1>
				<p>Simple Recipes was created in 2013 by <a href="mailto:erikthiem@gmail.com">Erik Thiem</a> in order to provide a simple platform for people to submit and view simple recipes.</p>
			</header>
		</article>
	</div> <!-- #main -->
</div> <!-- #main-container -->
