<div class="main-container">
	<div class="main wrapper clearfix">
		<section>
			<h2>Bean Soup</h2>
			<p>A simple bean soup</p>
			<h3>Ingredients</h3>
				<ul>
					<li>Beans</li>
					<li>Water</li>
				</ul>
			<h3>Equipment</h3>
				<ul>
					<li>A large pot</li>
					<li>A stove</li>
				</ul>
			<h3>Instructions</h3>
				<ol>
					<li>Place water in pot</li>
					<li>Place beans in pot</li>
					<li>Place pot on stove</li>
					<li>Simmer until it tastes good</li>
				</ol>
		</section>	
		<hr>
		<section>
			<h2>Peanut Butter & Jelly</h2>
			<p>A simple sandwich</p>
			<h3>Ingredients</h3>
				<ul>
					<li>Peanut Butter</li>
					<li>Jelly</li>
					<li>Bread</li>
				</ul>
			<h3>Equipment</h3>
				<ul>
					<li>A butter knife</li>
				</ul>
			<h3>Instructions</h3>
				<ol>
					<li>Take out two pieces of bread</li>
					<li>Spread peanut butter on one piece of bread using the knife</li>
					<li>Spread jelly on the other piece of bread using the knife</li>
					<li>Place the pieces of bread together so that the peanut butter
					    is touching the jelly</li>
				</ol>
		</section>
	</div> <!-- #main -->
</div> <!-- #main-container -->
