<div class="main-container">
	<div class="main wrapper clearfix">

		<article>
			<header>
				<h1>Submit a Recipe</h1>
				<p>Coming soon.</p>
			</header>
		</article>
	</div> <!-- #main -->
</div> <!-- #main-container -->
